body {
    counter-reset: section;
}

p {
    color: blue;
}

h2 {
    text-decoration: underline;
    color: black;
}

span {
    color: blue;
    font-weight: bold;
}

p::before {
    counter-increment: section;
    content: "Verso " counter(section) ": ";
}

/* Dark Mode */
.dark-mode {
    background-color: #222;
    color: #fff;
  }
  
  .dark-mode .modal-content {
    background-color: #333;
  }
  
  .dark-mode .close {
    color: #ccc;
  }